
<%= form_for @worker do |f| %>
  <div class="form-group">
    <%= f.label :way_of_payment %>
    <%= f.select(:way_of_payment, Worker.way_of_payments.keys.map {|role| [role.titleize,role]} )%>
  </div>
  <%= f.submit "Update worker", class: 'btn btn-primary', data: { confirm: 'Confirm worker change' } %>
<% end %>
